# Tool configuration
AKI_TOOL_TIME_OUT_THRESHOLD=60
# Maximum tokens before conversation summarization (default: 150000, min: 30000, max:200000)
AKI_TOKEN_THRESHOLD=150000  

# Enable or disable chat history functionality
AKI_CHAT_HISTORY_ENABLED=true
# Options for AKI_DATA_SOURCE: sqlite, postgres
AKI_DATA_SOURCE=sqlite
# Customize SQLite database location
# AKI_SQLITE_PATH=~/.aki/database.sqlite  
# Required only if AKI_DATA_SOURCE=postgres
# AKI_POSTGRES_URL=postgresql://$USER@localhost:5432/postgres  

# AWS credentials (if needed)
AWS_ACCESS_KEY_ID=PLACEHOLDER_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=PLACEHOLDER_AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=us-west-2
CHAINLIT_AUTH_SECRET=PLACEHOLDER_CHAINLIT_AUTH_SECRET
